body{
    margin:0px;
    padding:0px;
    color:white;
}

.central-container-side{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
}

.grid{
    /* width:20%;
    height: 10%;
    position:relative;
    display: grid;
    left:0; */

    /* background-color: rgba(255, 255, 255, 0.8); */
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    cursor: not-allowed;
 
}

.conactive{
    background-color: rgb(196, 0, 0);
    cursor: pointer;
    content: 'KLIKNIJ MNIE!';
}

.conactivate2{
    background-color: rgb(196, 150, 0);
    cursor: not-allowed;
    content: 'JESZCZE RAZ!';
    
}

.condeactivate{
    background-color: rgb(0, 196, 10);
    cursor: not-allowed;
    content: 'GOTOWE!';
    
}

#con{
    margin-top:150px;
	font-family: 'Anonymous Pro', monospace;  
	font-size: 180%;
	text-align: center;
    width:100%;

}

.btn-down{
    bottom:auto;
    left:auto;
    right:auto;
    box-align:center;
    width:50%;
    margin-left: -25%;
}