@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body{
    overflow:hidden;
    background-image: linear-gradient(to right top, #001726, #0d101e, #100a15, #0c040a, #000000);
}

/* START MAIN STYLE */
.blue{
    color:#339aaf;
}

a:link, a:visited, a:hover, a:active  {
    color: #339aaf;
    text-decoration: none;
  }

#main-content {
    margin-top:0;
    z-index: 100;
    color:white;
}

.container{
    position:relative;
    margin-top:0;
}

.footer {
    font-size: 14px;
    text-align: center;
    color:rgba(255, 255, 255, 0.127);
    bottom:0;
    position:fixed;
    text-align: center;
    width:100%;
    height:5%;
}

.left-sidei, .left-side, .center-side, .right-side{
    width:45%;
    height:80%;
    position:relative;
    float:left;
    text-align: center;
}

.right-side{
    background-color: rgba(0, 0, 0, 0.384);
    padding:20px;
    border-radius: 5px;
    width:50%;
}

.center-side-3d{
    width:40%;
    height:70%;
    position:relative;
    float:left;
    text-align: center;
    margin-top:100px;
}

.left-side-3d, .right-side-3d{
    width:30%;
    height:70%;
    position:relative;
    float:left;
    text-align: center;
    margin-top:200px;
}


.left-side{
    margin-left:-5%;
}

.left-sidei{
    background-image: url('../files/img/primary/head.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    margin-left:-5%;
}

.central-container-side{
    background-color: rgba(0, 0, 0, 0.384);
    padding:20px;
    border-radius: 5px;
    width:100vw;
    height:100%;
    position:fixed;
}
/* END OF MAIN STYLE */

/* PARALAX EFECT */

#parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png); */
    background-image: url(../files/img/primary/paralax.png);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-position: 50% 50%;
  }

/* END PARALAX EFECT */

/* START GLOWING BUTTONS */

.glow-on-hover {
    width: 100%;
    height: 70px;
    border: none;
    outline: none;
    background:black;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #00D8EA, #002bff, #7a00ff, #ff00c8);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    left: 0;
    top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} 

.btn-down{
    position: absolute;
    bottom: 0;
    left: 0;
}
/* END OF GLOWING BUTTONS */


/* START DRAWING CIRCLE */
.circle_box{
    width:20%;
    position:relative;
    float:left;
}

.circle_text_box{
    width:75%;
    position:relative;
    float:left;
    text-align: left;
    display: flex;
    height: 100px;
    align-items: center;
    margin-bottom:2rem;
}

.circle_container
{
	width : 100px;
	height : 100px;
	margin : 0;
	padding : 0;
}

.circle_main
{
	width : 110%;
	height : 110%;
	border-radius : 50%;
	border : 4px solid #00D8EA;	/* can alter thickness and colour of circle on this line */
	margin : 0;
	padding : 0;
    transition: width 0.5s, height 0.5s;
}

.index_box{
    padding-bottom:18%;
}

.index_box:hover .circle_main
{
	/* width : 100%;
	height : 100%;
	border-radius : 50%;
	border : 4px solid #160052;	
	margin : 0;
	padding : 0; */
    width : 115%;
	height : 115%;
    transition: width 0.5s, height 0.5s;
}

.circle_text_container
{
	width : 70%;
	height : 70%;
	max-width : 70%;
	max-height : 70%;
	margin : 0;
	padding : 0;
	position : relative;
	left : 15%;
	top : 15%;
	transform-style : preserve-3d;
}

.circle_text
{
	font: 25px "Tahoma", Arial, Serif;	
	text-align : center;
	position : relative;
	top : 50%;
	transform : translateY(-50%);
}
/* END CIRCLE */








.me{
    position: fixed;
    bottom:50px;
    right:50px;
}